:root {
          --core-black: #000000;
  --core-white: #FFFFFF;
  --core-neutral-100: #F5F5F5;
  --core-neutral-200: #E5E5E5;
  --core-neutral-300: #CCCCCC;
  --core-neutral-400: #929292;
  --core-neutral-500: #646464;
  --core-neutral-600: #444444;
  --core-neutral-700: #343434;
  --core-neutral-800: #252525;
  --core-neutral-900: #121212;
  --core-elevation-dp1: #1E1E1E;
  --core-elevation-dp2: #232323;
  --core-elevation-dp3: #252525;
  --core-elevation-dp4: #272727;
  --core-elevation-dp6: #2C2C2C;
  --core-elevation-dp8: #2E2E2E;
  --core-elevation-dp12: #333333;
  --core-elevation-dp16: #363636;
  --core-elevation-dp24: #383838;
  --core-brand-yellow: #FFFAE1;
  --core-brand-gold: #FFE9C2;
  --core-brand-pink: #FFD4D0;
  --core-brand-purple: #E9CAE9;
  --core-brand-blue: #C0E8F9;
  --core-brand-green: #D6EAD3;
  --core-brand-which-red: #E81C30;
  --core-brand-which-red-dark: #e83c47;
  --core-blue-100: #E9F1FB;
  --core-blue-200: #D7EFFA;
  --core-blue-300: #A8CDFA;
  --core-blue-400: #83B9FB;
  --core-blue-500: #0050B3;
  --core-blue-600: #26539B;
  --core-blue-700: #051E57;
  --core-blue-800: #061537;
  --core-blue-900: #040916;
  --core-red-100: #FBE9E9;
  --core-red-200: #FACCCC;
  --core-red-300: #FAA8A8;
  --core-red-400: #FB8383;
  --core-red-500: #D32F2F;
  --core-red-600: #751614;
  --core-red-700: #570505;
  --core-red-800: #370606;
  --core-red-900: #160404;
  --core-yellow-100: #FBF6E9;
  --core-yellow-200: #FAEDCC;
  --core-yellow-300: #FAE3A8;
  --core-yellow-400: #FBD983;
  --core-yellow-500: #FCC126;
  --core-yellow-600: #7C5A04;
  --core-yellow-700: #574005;
  --core-yellow-800: #372906;
  --core-yellow-900: #161104;
  --core-green-100: #E9FBEF;
  --core-green-200: #CCFADB;
  --core-green-300: #A8FAC3;
  --core-green-400: #83FBAB;
  --core-green-500: #01892E;
  --core-green-600: #047C2C;
  --core-green-700: #055720;
  --core-green-800: #063716;
  --core-green-900: #04160A;
  --font-family-default: National 2;
  --font-weight-regular: Regular;
  --font-weight-medium: Medium;
  --font-weight-bold: Bold;
  --typography-heading-400: [object Object];
  --typography-heading-500: [object Object];
  --typography-heading-600: [object Object];
  --typography-heading-700: [object Object];
  --typography-body-regular: [object Object];
  --typography-body-medium: [object Object];
  --typography-small-regular: [object Object];
  --typography-small-medium: [object Object];
  --typography-x-small-regular: [object Object];
  --typography-x-small-medium: [object Object];
  --typography-blockquote: [object Object];
  --typography-overline: [object Object];
  --typography-standfirst: [object Object];
  --typography-testscore: [object Object];
  --typography-scorelabels: [object Object];
  --letter-spacing-letter-spacing-none: 0;
  --letter-spacing-letter-spacing-one: 1;
  --spacing-2x-small: 4px;
  --spacing-x-small: 8px;
  --spacing-small: 12px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-x-large: 32px;
  --spacing-2x-large: 40px;
  --spacing-3x-large: 56px;
  --spacing-4x-large: 64px;
  --spacing-none: 0px;
  --border-radius-small: 4px;
  --border-radius-medium: 16px;
  --border-radius-large: 24px;
  --border-radius-none: 0px;
      }