:root {
          --theme-background-primary: #121212;
  --theme-background-secondary: #121212;
  --theme-background-tertiary: #252525;
  --theme-surface-primary: #252525;
  --theme-surface-secondary: #343434;
  --theme-foreground-primary: #F5F5F5;
  --theme-foreground-secondary: #CCCCCC;
  --theme-foreground-on-accent: #121212;
  --theme-accent-primary: #83B9FB;
  --theme-accent-success: #83FBAB;
  --theme-accent-error: #FB8383;
  --theme-accent-warning: #FBD983;
  --theme-accent-brand-red: #e83c47;
  --theme-border-primary: #646464;
  --theme-border-secondary: #444444;
  --theme-bars-nav-background-color: #121212f0;
  --theme-bars-tab-background-color: #252525f5;
  --theme-toggle-background-color-default: #343434;
  --theme-toggle-background-color-active: #83B9FB;
  --theme-toggle-knob: #FFFFFF;
  --theme-button-primary-default-background-color: #83B9FB;
  --theme-button-primary-default-text-color: #121212;
  --theme-button-primary-pressed-background-color: #A8CDFA;
  --theme-button-primary-pressed-text-color: #121212;
  --theme-button-secondary-default-background-color: #121212;
  --theme-button-secondary-default-background-border: #CCCCCC;
  --theme-button-secondary-default-text-color: #F5F5F5;
  --theme-button-secondary-pressed-background-color: #D7EFFA;
  --theme-button-secondary-pressed-background-border: #CCCCCC;
  --theme-button-secondary-pressed-text-color: #F5F5F5;
  --theme-button-disabled-default-background-color: #444444;
  --theme-button-disabled-default-background-border: #CCCCCC;
  --theme-button-disabled-default-text-color: #CCCCCC;
  --theme-button-disabled-pressed-background-color: #444444;
  --theme-button-disabled-pressed-background-border: #CCCCCC;
  --theme-button-disabled-pressed-text-color: #CCCCCC;
  --theme-button-destructive-default-background-color: #FB8383;
  --theme-button-destructive-default-text-color: #121212;
  --theme-button-destructive-pressed-background-color: #751614;
  --theme-button-destructive-pressed-text-color: #121212;
  --theme-toast-error-background-color: #FB8383;
  --theme-toast-error-text-color: #121212;
  --theme-toast-error-icon-color: #121212;
  --theme-toast-warning-background-color: #FBD983;
  --theme-toast-warning-text-color: #121212;
  --theme-toast-warning-icon-color: #121212;
  --theme-toast-success-background-color: #83FBAB;
  --theme-toast-success-text-color: #121212;
  --theme-toast-success-icon-color: #121212;
  --theme-toast-info-background-color: #83B9FB;
  --theme-toast-info-text-color: #121212;
  --theme-toast-info-icon-color: #121212;
  --theme-card-background-color: #121212;
  --theme-card-background-outline: #646464;
  --box-shadow-toggle-knob-0-x: 0;
  --box-shadow-toggle-knob-0-y: 3;
  --box-shadow-toggle-knob-0-blur: 8;
  --box-shadow-toggle-knob-0-spread: 0;
  --box-shadow-toggle-knob-0-color: #00000026;
  --box-shadow-toggle-knob-0-type: dropShadow;
  --box-shadow-toggle-knob-1-x: 0;
  --box-shadow-toggle-knob-1-y: 3;
  --box-shadow-toggle-knob-1-blur: 1;
  --box-shadow-toggle-knob-1-spread: 0;
  --box-shadow-toggle-knob-1-color: #0000000f;
  --box-shadow-toggle-knob-1-type: dropShadow;
  --box-shadow-card-0-x: 0;
  --box-shadow-card-0-y: 2;
  --box-shadow-card-0-blur: 12;
  --box-shadow-card-0-spread: 0;
  --box-shadow-card-0-color: #000000cc;
  --box-shadow-card-0-type: dropShadow;
  --box-shadow-card-1-x: 0;
  --box-shadow-card-1-y: 0;
  --box-shadow-card-1-blur: 25;
  --box-shadow-card-1-spread: 0;
  --box-shadow-card-1-color: #0000004d;
  --box-shadow-card-1-type: dropShadow;
      }