:root {
          --color-background-primary: #121212;
  --color-background-secondary: #121212;
  --color-background-tertiary: #252525;
  --color-surface-primary: #252525;
  --color-surface-secondary: #343434;
  --color-foreground-primary: #F5F5F5;
  --color-foreground-secondary: #CCCCCC;
  --color-foreground-on-accent: #121212;
  --color-accent-primary: #83B9FB;
  --color-accent-success: #83FBAB;
  --color-accent-error: #FB8383;
  --color-accent-warning: #FBD983;
  --color-accent-brand-red: #e83c47;
  --color-border-primary: #646464;
  --color-border-secondary: #444444;
  --color-bar-nav-background-color: #121212f0;
  --color-bar-tab-background-color: #252525f5;
  --color-toggle-default-background-color: #343434;
  --color-toggle-default-handle-color: #E5E5E5;
  --color-toggle-active-background-color: #83B9FB;
  --color-toggle-active-handle-color: #F5F5F5;
  --color-button-primary-default-background-color: #83B9FB;
  --color-button-primary-default-text-color: #121212;
  --color-button-primary-default-icon-color: #121212;
  --color-button-primary-pressed-background-color: #A8CDFA;
  --color-button-primary-pressed-text-color: #121212;
  --color-button-primary-pressed-icon-color: #121212;
  --color-button-secondary-default-background-color: #121212;
  --color-button-secondary-default-background-border: #CCCCCC;
  --color-button-secondary-default-text-color: #F5F5F5;
  --color-button-secondary-default-icon-color: #F5F5F5;
  --color-button-secondary-pressed-background-color: #D7EFFA;
  --color-button-secondary-pressed-background-border: #CCCCCC;
  --color-button-secondary-pressed-text-color: #F5F5F5;
  --color-button-secondary-pressed-icon-color: #F5F5F5;
  --color-button-disabled-default-background-color: #444444;
  --color-button-disabled-default-background-border: #CCCCCC;
  --color-button-disabled-default-text-color: #CCCCCC;
  --color-button-disabled-default-icon-color: #CCCCCC;
  --color-button-disabled-pressed-background-color: #444444;
  --color-button-disabled-pressed-background-border: #CCCCCC;
  --color-button-disabled-pressed-text-color: #CCCCCC;
  --color-button-disabled-pressed-icon-color: #CCCCCC;
  --color-button-destructive-default-background-color: #FB8383;
  --color-button-destructive-default-text-color: #121212;
  --color-button-destructive-default-icon-color: #121212;
  --color-button-destructive-pressed-background-color: #751614;
  --color-button-destructive-pressed-text-color: #121212;
  --color-button-destructive-pressed-icon-color: #121212;
  --color-toast-error-background-color: #FB8383;
  --color-toast-error-text-color: #121212;
  --color-toast-error-icon-color: #121212;
  --color-toast-warning-background-color: #FBD983;
  --color-toast-warning-text-color: #121212;
  --color-toast-warning-icon-color: #121212;
  --color-toast-success-background-color: #83FBAB;
  --color-toast-success-text-color: #121212;
  --color-toast-success-icon-color: #121212;
  --color-toast-info-background-color: #83B9FB;
  --color-toast-info-text-color: #121212;
  --color-toast-info-icon-color: #121212;
  --color-card-background-color: #121212;
  --color-card-background-border: #646464;
  --box-shadow-toggle-knob-0-x: 0;
  --box-shadow-toggle-knob-0-y: 3;
  --box-shadow-toggle-knob-0-blur: 8;
  --box-shadow-toggle-knob-0-spread: 0;
  --box-shadow-toggle-knob-0-color: #00000026;
  --box-shadow-toggle-knob-0-type: dropShadow;
  --box-shadow-toggle-knob-1-x: 0;
  --box-shadow-toggle-knob-1-y: 3;
  --box-shadow-toggle-knob-1-blur: 1;
  --box-shadow-toggle-knob-1-spread: 0;
  --box-shadow-toggle-knob-1-color: #0000000f;
  --box-shadow-toggle-knob-1-type: dropShadow;
  --box-shadow-card-0-x: 0;
  --box-shadow-card-0-y: 2;
  --box-shadow-card-0-blur: 12;
  --box-shadow-card-0-spread: 0;
  --box-shadow-card-0-color: #000000cc;
  --box-shadow-card-0-type: dropShadow;
  --box-shadow-card-1-x: 0;
  --box-shadow-card-1-y: 0;
  --box-shadow-card-1-blur: 25;
  --box-shadow-card-1-spread: 0;
  --box-shadow-card-1-color: #0000004d;
  --box-shadow-card-1-type: dropShadow;
      }