:root {
          --color-background-primary: #FFFFFF;
  --color-background-secondary: #F5F5F5;
  --color-background-tertiary: #F5F5F5;
  --color-surface-primary: #FFFFFF;
  --color-surface-secondary: #E5E5E5;
  --color-foreground-primary: #000000;
  --color-foreground-secondary: #646464;
  --color-foreground-on-accent: #FFFFFF;
  --color-accent-primary: #0050B3;
  --color-accent-success: #01892E;
  --color-accent-error: #D32F2F;
  --color-accent-warning: #FCC126;
  --color-accent-brand-red: #E81C30;
  --color-border-primary: #CCCCCC;
  --color-border-secondary: #E5E5E5;
  --color-bars-nav-background-color: #fffffff0;
  --color-bars-tab-background-color: #f5f5f5f5;
  --color-toggle-background-color-default: #E5E5E5;
  --color-toggle-background-color-active: #0050B3;
  --color-toggle-handle-default: #F5F5F5;
  --color-toggle-handle-active: #FFFFFF;
  --color-button-primary-default-background-color: #0050B3;
  --color-button-primary-default-text-color: #FFFFFF;
  --color-button-primary-default-icon-color: #FFFFFF;
  --color-button-primary-pressed-background-color: #26539B;
  --color-button-primary-pressed-text-color: #FFFFFF;
  --color-button-primary-pressed-icon-color: #FFFFFF;
  --color-button-secondary-default-background-color: #FFFFFF;
  --color-button-secondary-default-background-border: #646464;
  --color-button-secondary-default-text-color: #000000;
  --color-button-secondary-pressed-background-color: #D7EFFA;
  --color-button-secondary-pressed-background-border: #646464;
  --color-button-secondary-pressed-text-color: #000000;
  --color-button-disabled-default-background-color: #CCCCCC;
  --color-button-disabled-default-background-border: #646464;
  --color-button-disabled-default-text-color: #000000;
  --color-button-disabled-pressed-background-color: #CCCCCC;
  --color-button-disabled-pressed-background-border: #646464;
  --color-button-disabled-pressed-text-color: #000000;
  --color-button-destructive-default-background-color: #D32F2F;
  --color-button-destructive-default-text-color: #FFFFFF;
  --color-button-destructive-pressed-background-color: #751614;
  --color-button-destructive-pressed-text-color: #FFFFFF;
  --color-toast-error-background-color: #D32F2F;
  --color-toast-error-text-color: #FFFFFF;
  --color-toast-error-icon-color: #FFFFFF;
  --color-toast-warning-background-color: #FCC126;
  --color-toast-warning-text-color: #000000;
  --color-toast-warning-icon-color: #000000;
  --color-toast-success-background-color: #01892E;
  --color-toast-success-text-color: #FFFFFF;
  --color-toast-success-icon-color: #FFFFFF;
  --color-toast-info-background-color: #0050B3;
  --color-toast-info-text-color: #FFFFFF;
  --color-toast-info-icon-color: #FFFFFF;
  --color-card-background-color: #FFFFFF;
  --color-card-background-outline: #CCCCCC;
  --box-shadow-toggle-knob-0-x: 0;
  --box-shadow-toggle-knob-0-y: 3;
  --box-shadow-toggle-knob-0-blur: 8;
  --box-shadow-toggle-knob-0-spread: 0;
  --box-shadow-toggle-knob-0-color: #00000026;
  --box-shadow-toggle-knob-0-type: dropShadow;
  --box-shadow-toggle-knob-1-x: 0;
  --box-shadow-toggle-knob-1-y: 3;
  --box-shadow-toggle-knob-1-blur: 1;
  --box-shadow-toggle-knob-1-spread: 0;
  --box-shadow-toggle-knob-1-color: #0000000f;
  --box-shadow-toggle-knob-1-type: dropShadow;
  --box-shadow-card-0-x: 0;
  --box-shadow-card-0-y: 2;
  --box-shadow-card-0-blur: 12;
  --box-shadow-card-0-spread: 0;
  --box-shadow-card-0-color: #0000001a;
  --box-shadow-card-0-type: dropShadow;
  --box-shadow-card-1-x: 0;
  --box-shadow-card-1-y: 0;
  --box-shadow-card-1-blur: 25;
  --box-shadow-card-1-spread: 0;
  --box-shadow-card-1-color: #00000008;
  --box-shadow-card-1-type: dropShadow;
      }